@using M001.Controllers
@model OrdersWithCustomerId

<h2>Alle Bestellungen von @ViewData["ID"] / @Model.CustomerId</h2>

<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Bestelldatum</th>
			<th>Gewünschtes Lieferdatum</th>
			<th>Tatsächliches Lieferdatum</th>
			<th>Lieferadresse</th>
			<th>Frachtkosten</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (Orders o in Model.Orders)
		{
			<tr>
				<td>@o.OrderId</td>
				<td>@o.OrderDate</td>
				<td>@o.RequiredDate</td>
				<td>@o.ShippedDate</td>
				<td>@($"{o.ShipAddress} {o.ShipCity}, {o.ShipPostalCode} {o.ShipCountry}")</td>
				<td>@o.Freight</td>
				<td>
					<a asp-route-id="@o.OrderId" asp-action="ShowDetailsForOrder">
						<button type="submit">Details anzeigen</button>
					</a>
				</td>
			</tr>
		}
	</tbody>
</table>

